:root {
  /* (work) */
  --Orange-300: hsl(15, 100%, 70%);
  /* (play) */
  --Blue-300: hsl(195, 74%, 62%);
  /* (study) */
  --Pink-400: hsl(348, 100%, 68%);
  /* (exercise) */
  --Green-400: hsl(145, 58%, 55%);
  /* (social) */
  --Purple-700: hsl(264, 64%, 52%);
  /* (self care) */
  --Yellow-300: hsl(43, 84%, 65%);
  --Purple-600: hsl(246, 80%, 60%);
  --Navy-950: hsl(226, 43%, 10%);
  --Navy-900: hsl(235, 46%, 20%);
  --Purple-500: hsl(235, 45%, 61%);
  --Navy-200: hsl(236, 100%, 87%);
  --White: hsl(0, 0%, 98%);
  /* Weights: 300, 400, 500 */
}

html {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  background-color: var(--Navy-950);
  font-weight: 300;
}

.main-container {
  background-color: ivory;
  width: 77.5%;
  height: 50%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "person work play study"
    "person exercise social self-care";
  gap: 2rem;
}

.personal-block {
  grid-area: person;
  background-color: var(--Navy-900);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.personal-info-container {
  background-color: var(--Purple-600);
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 4rem 1.5rem;
}

.profile-img {
  border: 4px solid var(--White);
  border-radius: 50%;
  width: 5rem;
  height: auto;
}

.report-for {
  padding-top: 2rem;
  color: var(--Navy-200);
}

.report-name {
  color: var(--White);
  font-weight: lighter;
  font-size: 2.25rem;
}

.time-select-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  gap: 1rem;
}

.time-btn {
  border: none;
  background-color: var(--Navy-900);
  color: var(--Purple-500);
  font-size: 1.25rem;
}

.work-block {
  grid-area: work;
  background-color: var(--Orange-300);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}

.work-info {
  background-color: var(--Navy-900);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--White);
  z-index: 1;
}

.work-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.work-time {
  padding-top: 1rem;
}

.work-current-time {
  font-size: 3.25rem;
}

.work-last-wk-time {
  color: var(--Navy-200);
  padding-top: 0.5rem;
}

.work-img {
  position: absolute;
  filter: brightness(0.95);
  top: -5%;
  right: 10%;
}

.play-block {
  grid-area: play;
  background-color: var(--Blue-300);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}

.play-info {
  background-color: var(--Navy-900);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--White);
  z-index: 1;
}

.play-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.play-time {
  padding-top: 1rem;
}

.play-current-time {
  font-size: 3.25rem;
}

.play-last-wk-time {
  color: var(--Navy-200);
  padding-top: 0.5rem;
}

.play-img {
  position: absolute;
  filter: brightness(0.95);
  top: -5%;
  right: 10%;
}

.study-block {
  grid-area: study;
  background-color: var(--Pink-400);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}

.study-info {
  background-color: var(--Navy-900);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--White);
  z-index: 1;
}

.study-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.study-time {
  padding-top: 1rem;
}

.study-current-time {
  font-size: 3.25rem;
}

.study-last-wk-time {
  color: var(--Navy-200);
  padding-top: 0.5rem;
}

.study-img {
  position: absolute;
  filter: brightness(0.95);
  top: -5%;
  right: 10%;
}

.exercise-block {
  grid-area: exercise;
  background-color: var(--Green-400);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}

.exercise-info {
  background-color: var(--Navy-900);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--White);
  z-index: 1;
}

.exercise-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.exercise-time {
  padding-top: 1rem;
}

.exercise-current-time {
  font-size: 3.25rem;
}

.exercise-last-wk-time {
  color: var(--Navy-200);
  padding-top: 0.5rem;
}

.exercise-img {
  position: absolute;
  filter: brightness(0.95);
  top: 0%;
  right: 10%;
}

.social-block {
  grid-area: social;
  background-color: var(--Purple-700);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 1rem;
  overflow: hidden;
}

.social-info {
  background-color: var(--Navy-900);
  border-radius: 1rem;
  padding: 1.5rem;
  color: var(--White);
  z-index: 1;
}

.social-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.125rem;
}

.social-time {
  padding-top: 1rem;
}

.social-current-time {
  font-size: 3.25rem;
}

.social-last-wk-time {
  color: var(--Navy-200);
  padding-top: 0.5rem;
}

.social-img {
  position: absolute;
  filter: brightness(0.95);
  top: -5%;
  right: 10%;
}
